.App {
  background-color: #fff;
  min-height: max-content;
}

.registration-section{
  color: #fff;
}

.reg-sec{
  background-color: #007c7c;
  color: #02cdcd;
  box-shadow: 0px 10px 10px 0px #007c7c;
  border-radius: 2%;
}

.text-feild-decorator{
  box-shadow: 0px 5px 5px 0px #d4cbcb;
  border-radius: 2%;
  max-width: 40vh !important;
}